*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}

header{
    background-color: rgba(0, 0, 0, 0.65);
}

/* #logo{ margin-left: 2%; */
    


nav{
    /* text-align: center; */
    text-transform: uppercase;

    ul{
        li{
            display: inline-block;
            padding: 10px 60px;
            a{
                text-decoration: none;
                color: white;

            }
        }

    }
}




    







footer{
    /* background-color: rgb(126, 43, 43); */
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white; 

}

footer p{
   text-align: center;
}


@import 'catering y eventos';
@import 'menu';
@import 'cv';
@import 'nosotros';
@import 'contacto';
@import 'index';
    





.quesomos{
    color: white;
    padding: 50px;


}


body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}



a {
    color: white !important;
    text-decoration: none !important;
}




#icons i{
    color: white;
}

.quesomos{
    color: white;
}



